h2{
    margin-top: 1rem;
}

.video{
    margin :5rem;
    /* margin-left: auto;
    margin-right: auto ; */
}
.description{
    background-color: #EEEEEE;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-4{
    margin-top: 1.9rem;
padding: 3rem;
}
.list-group{
    max-height: 30rem;
    margin-bottom: 10px;
    /* overflow:scroll; */
    /* -webkit-overflow-scrolling: touch; */
    box-shadow: 1px 1px 6px black;
}
.list-group-item:hover{
    background-color: #EEEEEE;
}
.row{
    /* background-color: #EEEEEE; */
    background-color: white;
    margin-bottom: 0;
}
.text{
    z-index: +1;
    position: absolute;
}
.textnew{
    z-index: -1;
    position: absolute;
}