.video{
    margin :5.5rem;
    /* margin-left: auto;
    margin-right: auto ; */
}
.col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-4{
padding: 3rem;
}
.list-group{
    max-height: 30rem;
    margin-bottom: 10px;
    /* overflow:scroll; */
    -webkit-overflow-scrolling: touch;
}
.row{
    background-color: #EEEEEE;
    margin-bottom: 0;
}
.text{
    z-index: +1;
    position: absolute;
}
.textnew{
    z-index: -1;
    position: absolute;
}