<div class="row">
    <div class="col-md-8">
        <div [ngClass]="textclass">
            <h2>start your learning journey</h2>
        </div>
        <div class="video">
            <iframe width="720" height="415" [attr.src]="present_video" id="video">
            </iframe>
            <h2>{{coursetitle}}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <ol class="list-group">
        <div *ngFor="let v of videolinks">
            <a (click)="showVideo(v)" style="cursor: pointer;"><li class="list-group-item">{{v.title}}</li></a>
        </div>
    </ol>
    </div>
</div>

