.container-everything{
    /* background-color: #222222; */
    margin: 0%;
}
.container {
    /* padding: 3rem; */
    margin-left: auto;
    margin-top: auto;
    display: grid;
    place-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box{

}
.logo{
    width: 30px;
}
.form-control{
    /* width: 40%; */
}
.form-group{
    padding: 1rem;;
}
.col-form-label{
    padding-right: 5rem;
}
h1{
    /* margin-left: 5rem;  */
}
.row1{
    padding: 2rem;;
}
.btn{
    width: 50%;
    margin-left: 4rem;
    margin-top: 1rem;
}

/* radio button */
.radio-buttons{
    display: grid;
    height: 100%;
    place-items: center;
    background: white;
    font-family: 'Lato', sans-serif;
}
/* .wrapper{
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
} */
.wrapper .option{
  background: #fff;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.role{
    font-size: small;
}
.btn{
    background-color: #22A39F;
    border: #22A39F;
}

input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #22A39F;
  background: #22A39F;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 15px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}



















