<h2><b>Top Courses</b></h2>
<section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <button type="button" class="card swiper-slide item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          style="color: black;" *ngFor="let d of courses" (click)="openModal(d.courseId)">
          <div class="image-box">
            <img src="assets/images/{{d.thumbnailUrl}}" alt="NO_IMAGE">
          </div>
          <div class="profile-details">
            <div class="name-job">
              <a href="" class="title-hyperlink"><b>{{d.title}}</b></a>
              <p class="name">{{d.author}}</p>
              <p class="pricex"><b>₹ {{d.price}}</b></p>
            </div>
          </div>
        </button>
      </div>
      <div>
        <button class="prev btnx button" appPrev>&lt;&lt;</button>
        <button class="next btnx button" appNext>&gt;&gt;</button>
      </div>
    </div>
  </div>
</section>

<!-- MODAL BOX -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><a href="" class="title-hyperlink">{{cor.title}}</a></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="image-container">
          <img src="assets/images/{{cor.thumbnailUrl}}" alt="NO-Image" class="course-image">
          <div class="btn-container">
            <div class="bts">
              <Button class="cart-button btns" (click)="addToCart(cor)"  data-bs-dismiss="modal">Add to cart</Button>
            </div>
            <div class="bts">
              <Button class="more-detail btns">More details</Button>
            </div>
          </div>
        </div>
        <div class="course-details">
          <div>
            <a href="" class="title-hyperlink">{{cor.title}}</a>
            <div class="extra-details">
              <span class="rating">{{cor.rating}} star</span>
              <div *ngFor="let i of rating_arr" class="rating-div">
                <img src="assets/images/star2.png" alt="" class="rating-star">
              </div>
              <div><span class="price">Price <b>₹{{cor.price}}</b></span></div>
            </div>
            <span class="course-duration">Total {{cor.duration}} hours</span>
            <div>
              {{cor.description}}
            </div>
            <ul>
              <li>Create their own Python Programs</li>
              <li>Parse the Web and Create their own Games</li>
              <li>Become an experienced Python Programmer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
