body, html {
    /* display: grid; */
    text-align: center;
    min-width: 200px;
    min-height: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* Main Container */

.main {
    position: absolute;
    height: 100vh;
    transform: translate(0px, 0px);
    width:  100vw;
    transition: 0.35s;
}

.main.open {
    width: calc(100vw - 250px);
    transform: translate(250px, 0px);
    transition: 0.7s;
}

/* Main Content */

.title {
    color: #e2e2e2;
    width: calc(100% - 20px);
    height: calc(10% - 20px);
    min-height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color:#333333;
}

.map {
    height: calc(90% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
    justify-content: center;
    background-color:#8bdb2f;
}

/* Sidebar */

.sidebar {
    color: #e2e2e2;
    width: calc(250px - 20px);
    height:  calc(100vh - 20px);
    padding: 10px;
    justify-content: center;
    background-color:#1aaaff;
    position: relative;
    float: left;
    transform: translate(-290px, 0px);
    transition: 0.5s;
    z-index: 5;
}

.sidebar.open {
    transform: translate(0px, 0px);
    transition: 0.35s;
}

/* Sidebar Content */

.list {
    list-style: none;
    width: 90%;
}

.list-item {
    margin: 0px 7px;
    padding: 10px;
    cursor: pointer;

}

/* Hamburger Menu Default */

.hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}

.bar {
    transition: 0.5s;
    margin: 5px;
    height: 5px;
    width: 30px;
    background-color: #fafafa;
}


/* X on open */

.open .bar:nth-child(2) {
    transition: 0.5s;
    opacity: 0;
}

.open .bar:first-child {
    transition: 0.5s;
    transform: rotate(-45deg) translate(-7px, 7px);
}

.open .bar:last-child {
    transition: 0.5s;
    transform: rotate(45deg) translate(-7px, -7px);
}

@media not all and (hover: none) {
    /* -> on Hover */
    
    .hamburger:hover .bar:nth-child(2) {
        transition: 0.5s;
        opacity: 1;
    }
    
    .hamburger:hover .bar:first-child {
        transition: 0.5s;
        transform: rotate(45deg) translate(9px, -4px) scale(0.75, 1);
    }
    
    .hamburger:hover .bar:last-child {
        transition: 0.5s;
        transform: rotate(-45deg) translate(9px, 4px) scale(0.75, 1);
    }

    /* <- on open and hover */

    .open:hover .bar:nth-child(2) {
        transition: 0.5s;
        opacity: 1;
    }

    .open:hover .bar:first-child {
        transition: 0.5s;
        transform: rotate(-45deg) translate(-9px, -4px) scale(0.75, 1);
    }

    .open:hover .bar:last-child {
        transition: 0.5s;
        transform: rotate(45deg) translate(-9px, 4px) scale(0.75, 1);
    }

    .list-item:hover {
        background: linear-gradient(90deg, #1aaaff, #2485bd);
        border-right: 10px solid #2485bd;
    }
}

.list-item.selected {
    background: linear-gradient(90deg, #1aaaff, #2485bd);
    border-right: 10px solid #fafafa;
}