body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  width: 85%;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}

/*.row:after {
  content: "";
  display:grid;
  clear: both;
} */

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
  background-color: #fff;
  margin: auto;
}
.course-img{
  margin: 20px;
}

.container{
  display: grid;
  gap: 	0px;
  grid-template-columns: auto auto auto;
}
.card-img-top{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #fff;
}

.grid-item {
  background-color: #fff;
  /* border: 1px solid #fff; */
  /* border: 2px solid red; */
  padding: 20px;
  /* width: 400px; */
  text-align: center;
}
.grid-item:hover{
  transform: scale(1.05);
}