body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  width: 85%;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}


.card {
  text-align: center;
  background-color: #fff;
  margin: auto;
  border: transparent;
}
.course-img{
  margin: 20px;
}

.container{
  display: grid;
  gap: 	0px;
  grid-template-columns: auto auto auto;
}
.card-img-top{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #fff;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.grid-item:hover{
  transform: scale(1.05);
}