<div class="container-fluid banner">
<div class="text">
    <h3>Come teach with us</h3>
    <p>Become an instructor and empower people</p>
    <button class="btn btn-secondary" (click)="addcourse()">Get Started</button>
</div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-1">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/images/clock.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Teach your way</h5>
          <p class="card-text">Publish the course you want, in the way you want, and always have control of your own content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/images/teaching.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inspire learners</h5>
          <p class="card-text">Teach what you know and help learners explore their interests, gain new skills, and advance their careers.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="./assets/images/build.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Get rewarded</h5>
            <p class="card-text">Expand your professional network, build your expertise, and earn money on each paid enrollment.</p>
          </div>
        </div>
      </div>
    </div>